<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Success</title>
  <meta name="Anna Rasburn" description="Success page">

  
</head>

<body>
{% extends "bootstrap/base.html" %} <!--Applies CSS-->
{% block navbar %}
<!--Nav bar-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        Final Project by Cody, Devin and Anna
      </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
      
    </ul>
  </div>
</nav>

{% endblock %}
{% block content %}
<h1>{{data[doggo]['text']}}</h1> <!--Gets data from dictionary-->
<img src="/static/{{data[doggo]['id']}}.jpg" alt={{data[doggo]['text']}}> <!--Gets image from dictionary-->
{% endblock %}
</body>
</html>